*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(192, 63, 20);
}

#dwatch{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(109, 192, 164);
    gap: 20px;
}


#one,#three,#five,#six{
    color: white;
    font-size: 30px;
    padding: 5px;
}

#one,#three{
background-color: rgb(12, 146, 198);
}

#five,#six{
    background-color: rgb(220, 65, 91);
}
.heading1{
    color: white;
}


.section1,.section3,.section5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
   
}
#one,#three,#five,#six{
    padding: 20px
}

#two,#four{
    color: white
}

#section6{
    display: flex;
    align-items: start;
}